[user]
	email = Dan@gmail.com
	name = Dan Dixey
	signingkey = XYZ
[init]
    defaultBranch = main
[core]
	autocrlf = input
	excludesfile = /Users/enzymex/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ui "color"]
	ui = always
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[credential]
	helper = store
[alias]
	c = commit
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"
	s = status
	lg = log --oneline
	last = log -1 HEAD
	cl = log -p -- ':(exclude)Cargo.lock'
	f = push --force-with-lease
    pl = pull --rebase
    ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
	lol = log --graph --decorate --pretty=oneline --abbrev-commits
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    undo = reset --soft HEAD~1
    contrib = shortlog -e --summary --numbered
    bm = branch --merged
    bn = branch --no-merged
    df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
    hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
    llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	# show number of commits per contributer, sorted
    count = shortlog -sn
	# show what I did today
    day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"
	# current branch
    cbr = rev-parse --abbrev-ref HEAD
	# Delete local branches that are now merged
	delete-merged-branches = "!f() { git checkout --quiet main && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
[diff]
  	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = dandxy89
[rerere]
	enabled = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[branch]
    # set up 'git pull' to rebase instead of merge
	autosetuprebase = always
[pull]
    rebase = true
[rerere]
    enabled = true

[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
